html {
  background: url('https://raw.githubusercontent.com/scoutdoesthings/js-dev-final-capstone-starter-whack-a-mole/blob/main/assets/mice_assets/bg_micecity.png') no-repeat center center fixed;
  box-sizing: border-box;
  background-size: cover;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1, header{
  text-align: center;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(221, 16, 119);
  -webkit-text-stroke: 1px black;
}

h2 {
  text-align: center;
  font-size: 25px;
  color: white;
  -webkit-text-stroke: 1px black;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Add space between control and info boxes */
}

#controls {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}


#start, #difficulty, #mute {
  margin: 10px 0;
}

#info-box {
  display: flex;
  gap: 20px;
}

#score-container, #timer-container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  border-radius: 10px;
  color: white;
}

#timer, #score {
  color: rgb(252, 250, 249);
  font-size: 20px;
}

.grid {
  width: 500px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px; /* Adjust the gap as needed */
  margin: 0 auto;
  cursor: url('https://raw.githubusercontent.com/scoutdoesthings/js-dev-final-capstone-starter-whack-a-mole/blob/main/assets/mice_assets/cat_paw_sm.png'), pointer;
  justify-content: center; /* Center the grid horizontally */
  align-items: center; /* Center the grid vertically */
}

.hole {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*
.hole:after {
  display: internal;
  background: url('https://raw.githubusercontent.com/scoutdoesthings/js-dev-final-capstone-starter-whack-a-mole/blob/main/assets/mice_assets/mouse_hole.png') bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 80%;
  height: 50%;
  position: sticky;
  bottom: -40%;
  z-index: 2;
  pointer-events: none;
}
  commenting out for now
*/


.mole {
  background: url('https://raw.githubusercontent.com/scoutdoesthings/js-dev-final-capstone-starter-whack-a-mole/blob/main/assets/mice_assets/mouse2.png') bottom center no-repeat;
  background-size: 20%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 1s;
  pointer-events: auto;
}

.hole.show .mole {
  top: 0;
  transform: scale(1.1);
}

/* Centered controls 
.controls.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Side controls 
.controls.side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 10px;
  left: 10px;
}
*/

@media all and (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
}
